<%= form_with model: @gossip do |f| %>
    <div class="card text-center">
        <div class="card-body">
            <h5 class="card-title">Title : 
            <%= f.text_field :title %>
            <h5 class="card-title">Content : 
            <%= f.text_field :content%>
            <p><%= f.submit 'Edit Gossip' %></p> 
        </div>
    </div>
<% end %>

