<h1>Cities Gossips</h1>

<div class="row">
    <% @cities.each do |city|%>
    <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
                <div class="card-body">
                   <p class="card-text"><%= link_to "#{city.name}", city_path(city.id)%></p>
                </div>
            </div>
        </div> 
    <% end %>
</div>

